<!-- TOPIC: vue.js two-way binding with v-model -->

<!-- IMPORT VUE EXTERNALLY (IF YOU'RE RUNNING IN PRODUCTION ALWAYS HOST JS FILES
      ON YOUR OWN SERVER AND INPORT IT LOCALLY TO OPTIMIZE PAGE SPEED AND TO BE
      INDEPENDANT OF OTHER SERVER BEHAVIOUR) -->
<script src="https://unpkg.com/vue"></script>

<!-- This time we're using vue for binding the UI input to the backend logic
      variable and vice versa -->
<div id="go6" >
  <p v-if="outputVisible" v-on:click="hideOutput">{{value}}</p>
  <!-- The directive "v-model" binds the UI value with the logic value so both
        values will be the same even if you change either the logic or the UI
        value -->
  <input v-model="value" v-on:click="showOutput" />
  <button v-on:click="resetValue">reset value</button>
</div>


<script>
  const initialValue = 'Initial Value';
  const go6 = new Vue({
    el: '#go6',
    data: {
      outputVisible: true,
      value: initialValue
    },
    methods: {
      resetValue: () => go6.value = initialValue,
      hideOutput: () => go6.outputVisible = false,
      showOutput: () => go6.outputVisible = true
    }
  })
</script>
