<!-- TOPIC: VUE user interaction and event listening -->

<!-- IMPORT VUE EXTERNALLY (IF YOU'RE RUNNING IN PRODUCTION ALWAYS HOST JS FILES
      ON YOUR OWN SERVER AND INPORT IT LOCALLY TO OPTIMIZE PAGE SPEED AND TO BE
      INDEPENDANT OF OTHER SERVER BEHAVIOUR) -->
<script src="https://unpkg.com/vue"></script>

<!-- This time we're using vue for detecting user interactions and to trigger
      custom functions -->
<div id="go5" v-if="visible">
  <ol>
    <li v-for="item in items" v-bind:title="item.title">{{item.text}}</li>
  </ol>

  <!-- As you can see in the next line there is a "v-on" directive which can
        be used to detect interactions like a "click" event in this example
        and to define de function which should be called on the click event
        you simple add it as the attribute value -->
  <button v-on:click="removeListItem">Remove a list item</button>
  <button v-on:click="addRandomisedListItem">Add randomised list item</div>
</div>


<script>

  const go5 = new Vue({
    el: '#go5',
    data: {
      visible: true,
      items: [{
        text: "first",
        title: 'title1'
      }, {
        text: "second",
        title: 'title2'
      }, {
        text: "third",
        title: 'title3'
      }]
    },
    methods: {
      removeListItem: function() {
        this.items.pop();
      },
      // If you're familiar with arrow functions then this could be pretty
      // interesting because if you try to user the "this"-object within the
      // arrow function you'll get an JS error. That's because an arrow function
      // other than the "default" function expression doesn't have objects like:
      // this, arguments, super or new.target (<- type boolean; is used to
      // detect whether a function is called using the new keyword or not)
      // If you want to use arrow function, like in the sample below, you've
      // to use the objects's name (e. g. go5.items instead of this.items)
      addRandomisedListItem: () => {
        const randomNumber = Math.random() * (10 - 0) + 0;
        go5.items.push({text: "text with random number: " + randomNumber, title: "title with the same random number: " + randomNumber});
      }
    }
  })
</script>
