<!-- TOPIC: VUE for-loop -->

<!-- IMPORT VUE EXTERNALLY (IF YOU'RE RUNNING IN PRODUCTION ALWAYS HOST JS FILES
      ON YOUR OWN SERVER AND INPORT IT LOCALLY TO OPTIMIZE PAGE SPEED AND TO BE
      INDEPENDANT OF OTHER SERVER BEHAVIOUR) -->
<script src="https://unpkg.com/vue"></script>

<!-- This time we're using the vue for-loop to disply an array of elements
      with a title attribute and normal text output-->
<div id="go4" v-if="visible">
  <ol>
    <li v-for="item in items" v-bind:title="item.title">{{item.text}}</li>
  </ol>
</div>


<script>

  // To test the list binging of Vue in this case with the first list element:
  // go4.items[0].text = "CHANGED THE TEXT OF THE FIRST LIST ELEMENT"
  // event default array functions push and pop can be used like:
  // go4.items.pop()
  // go4.items.push({title: "new title 3", text: "I'M THE NEW THIRD ELEMENT"})

  const go4 = new Vue({
    el: '#go4',
    data: {
      visible: true,
      items: [{
        text: "first",
        title: 'title1'
      }, {
        text: "second",
        title: 'title2'
      }, {
        text: "third",
        title: 'title3'
      }]
    }
  })
</script>
